<footer>
       
<div class="container">
	<div class="row">
	<div class="col-sm-12">
		<p><a href="webmaster.html">Contacts</a> | <a href="http://www.nrel.gov/security.html">Security &amp; Privacy</a> | <a href="http://www.nrel.gov/disclaimer.html">Disclaimer</a></p>
		<p>This website is managed and hosted by the National Renewable Energy Laboratory.</p>
	</div>
	<div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4">
		<img src="/assets/images/nrel-logo-black.png" alt="National Renewable Energy Laboratory logo" class="img-responsive">
	</div>
	
	<div class="col-sm-2">
		<img src="/assets/images/usaid-logo-gray.png" alt="USAID logo" class="img-responsive">
	</div>
	</div>
</div>

</footer>